db_data/pg_stat_tmp/db_0.stat
db_data/pg_stat_tmp/db_13757.stat
db_data/pg_stat_tmp/global.stat
PositiveDairyProject/__pycache__/settings.cpython-310.pyc
PositiveDairyProject/__pycache__/urls.cpython-310.pyc
PositiveDairyProject/__pycache__/urls.cpython-310.pyc
db_data/pg_wal/000000010000000000000001
db_data/global/pg_control
db_data/pg_stat_tmp/global.stat
db_data/postmaster.pid
db_data/base/13757/pg_internal.init
