<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="{% static "fullcalendar/main.css" %}" rel="stylesheet">
    <script src="{% static "js/addClassTodayOnload.js" %}" type="text/javascript"></script>
    <script src="{% static "fullcalendar/main.js" %}" type="text/javascript"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var calendarEl = document.getElementById("calendar");
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: "dayGridMonth",
            });
            calendar.on('dateClick', function (info) {
                console.log('click on ' + info.dateStr);
                getDairyContent(info.dateStr, 1)
                getDairyContent(info.dateStr, 2)
                getDairyContent(info.dateStr, 3)
            })
            calendar.render();
        });
    </script>
</head>
<body>
<div id="calendar"></div>
<div id="dairy-content-form">
    <div id="form-1">
        <h2>1</h2>
        <textarea id="textarea-1" name="content-form"></textarea>
        <button type="submit" onclick="postDairyContent(1)">記録</button>
    </div>
    <div id="form-2">
        <h2>2</h2>
        <textarea id="textarea-2" name=content-form"></textarea>
        <button type="submit" onclick="postDairyContent(2)">記録</button>
    </div>
    <div id="form-3">
        <h2>3</h2>
        <textarea id="textarea-3" name="content-form"></textarea>
        <button type="submit" onclick="postDairyContent(3)">記録</button>

    </div>
</div>
</body>
<script src="{% static "js/postDairyContent.js" %}" type="text/javascript"></script>
<script src="{% static "js/splitDate.js" %}" type="text/javascript"></script>


<script>
    function postDairyContent(ranking) {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        console.log(ranking);
        let date = document.getElementById('dairy-content-form').className;
        console.log(date);
        let content = document.getElementById('textarea-' + ranking.toString()).value;
        console.log(content);
        $.ajax({
            'url': "{% url 'post_dairy_content' %}",
            'type': 'POST',
            'data': {
                'date': date,
                'content': content,
                'ranking': ranking,
            },
            'dataType': 'json'
        })
            .done(function (response) {
                console.log('OK');
            })
    }

    function getDairyContent(date, ranking) {
        console.log(date, ranking);
        console.log(typeof date);
        console.log(typeof ranking);
        $.ajax({
            'url': "{% url 'get_dairy_content' %}",
            'type': 'GET',
            'data': {
                'date': date,
                'ranking': ranking,
            },
            'dataType': 'json'
        })
            .done(function (response) {
                if (response.isGet) {
                    document.getElementById('textarea-' + ranking.toString()).value = response.content;
                } else {
                    console.log('error');
                }
            })
    }

</script>
</html>
