<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    {% block head %}{% endblock head %}
</head>
<body>
<header>
    {% if user.is_authenticated %}
        <a href="{% url 'index' %}">HOME</a>
        <a href="{% url 'show_pictures' %}">写真一覧</a>
        <a href="{% url 'logout' %}">logout</a>
        <a href="{% url 'signup' %}">signup</a>
    {% else %}
        <a href="{% url 'login' %}">login</a>
    {% endif %}
</header>

{% block content %}
{% endblock content %}

</body>
</html>
