<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}{% endblock head %}
</head>
<body class="w-10/12 my-0 mx-auto">
<header class="py-3">
    <div id="menubar" class="py-3 flex justify-between">
        {% if user.is_authenticated %}
            <ul class="flex">
                <li class="w-56 text-center"><a class="block text-2xl" href="{% url 'index' %}">HOME</a></li>
                <li class="w-56 text-center"><a class="block text-2xl" href="{% url 'show_pictures' %}">写真一覧</a></li>
                <li class="w-56 text-center"><a class="block text-2xl" href="{% url 'create_category' %}">カテゴリー作成</a></li>
            </ul>
            <ul class="flex">
                <li class="mr-1"><a class="block" href="{% url 'logout' %}">ログアウト</a></li>
            </ul>
        {% endif %}
    </div>
</header>

{% block content %}
{% endblock content %}

</body>
</html>
